// Page
$color-background = #131722
$color-text = #c5cbce
$color-border = #373c4d

// Button
$color-button-background = #2974cf
$color-button-background-hover = #2f86e2

// Dropdown
$color-dropdown-background = #1e222d
$color-dropdown-background-hover = #2f3240
$color-dropdown-background-selected = #203045

$color-scrollbar = #363a45
$color-scrollbar-hover = #505965
