// Page
$color-background = #131722
$color-text = #c5cbce
$color-border = #373c4d

// Dropdown
$color-dropdown-background = #1e222d
$color-dropdown-background-hover = #2f3240
$color-dropdown-background-selected = #23384c

// Icons
$color-icon = #71767e
$color-icon-hover = #c5cbce
$color-icon-active = #484c55
