flexCenter($flexDirection = null)
  display: flex
  align-items: center

  if $flexDirection
    flex-direction: $flexDirection

flexBoth()
  display: flex
  align-items: center
  justify-content: center

scrollbar()
  &::-webkit-scrollbar
    width: 10px

  &::-webkit-scrollbar-thumb
    border: 3px solid $color-dropdown-background
    border-radius: 0.3em
    background-color: #363a45

    &:hover
      background-color: #505965

truncate()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
